@import "tailwindcss";

:root {
  --background: #fdfcff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fdfcff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.simple_fin-title {
  font-size: 30px;
  padding-left: 30px;
}
.main-content {
  margin-top: 5%;
}
.individual-menu {
  border: 2px solid #3a5f9529;
  border-radius: 30px;
  box-shadow: 5px 5px #3a5f9514;
  cursor: pointer;
}

